// Foundation overrides
$row-width: 100%;
$column-gutter: 30px;

// Font Variables
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$base-font-family: $open-sans;
$heading-font-family: $lato;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$sidebar-bg-color: #172b44;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$bg-color: #1B3452;
$primary-color: #60d3e5;
$success-color: #79C779;
$warning-color: #DA9D2E;
$danger-color: #DA6A6A;
$neutral-color: #5C7BA0;

// Sidebar
$sidebar-width: 240px;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Nav
$top-nav-height: 65px;