.stagger {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.stagger.ng-move,
.stagger.ng-enter,
.stagger.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.stagger.ng-leave.ng-leave-active,
.stagger.ng-move,
.stagger.ng-enter {
    opacity:0;
    max-height:0;
}

.stagger.ng-leave,
.stagger.ng-move.ng-move-active,
.stagger.ng-enter.ng-enter-active {
    opacity:1;
}

/**
 * Stagger Leave (hide) animation
 */
.stagger.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.stagger.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}