body,
html {
    height: 100%;
    background: $bg-color;
    color: #526c8d;
}

body { padding-top: $top-nav-height; }

.row {
    padding: 0 15px;
    margin-top: 30px;

    &.flush {
        padding: 0 30px;
        background: #172B44;

        & > .column,
        & > .columns {
            padding: 0;
            margin: 0;
        }

        .box { border-radius: 0; }
    }

    &.flush-top { margin-top: 0; }
}

.app { padding-left: $sidebar-width; }
.content { padding-bottom: 30px; }