<!-- === Sidebar === -->
<section class="sidebar" ng-include="'views/common/sidebar.html'"></section>

<!-- === Dashboard === -->
<section class="dashboard">

    <!-- === Nav === -->
    <nav ng-include="'views/common/nav.html'" class="site-nav"></nav>

    <!-- === Content === -->
    <div class="content" ui-view></div>

</section>