<section class="dashboard">

    <div class="row">
        <div class="large-8 columns">
            <div class="box">
                <header class="box__header">
                    <h3 class="box__heading">{{ 'Line Chart Box' | translateText }}</h3>
                </header>
                <div class="box__content">
                    <canvas id="line"
                        class="chart chart-line"
                        chart-data="dashboard.chartData"
                        chart-labels="dashboard.chart.labels"
                        chart-legend="false"
                        chart-series="dashboard.chart.series"
                        chart-options="dashboard.chart.options"
                        chart-click="dashboard.chart.onClick",
                        chart-colours="dashboard.chart.colors">
                    </canvas>
                    <button class="button button--neutral button--full" ng-click="dashboard.randomize()">Randomize Data</button>
                </div>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="box">
                <header class="box__header">
                    <h3 class="box__heading">Gallery Box</h3>
                </header>
                <div class="box__content">
                    <image-gallery data="dashboard.images"></image-gallery>
                </div>
            </div>
        </div>
    </div>

    <div class="row flush">
        <div class="box">
            <div class="box__content">
                <div class="row">
                    <div class="large-4 columns">
                        <canvas id="line"
                            class="chart chart-bar"
                            chart-data="dashboard.chartData"
                            chart-labels="dashboard.chart.labels"
                            chart-legend="false"
                            chart-series="dashboard.chart.series"
                            chart-options="dashboard.chart.options"
                            chart-click="dashboard.chart.onClick",
                            chart-colours="dashboard.chart.barColors">
                        </canvas>
                        <button class="button button--neutral button--full" ng-click="dashboard.randomize()">Randomize Data</button>
                    </div>
                    <div class="large-8 columns">
                        <h3>Related Content</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eum incidunt possimus placeat illo beatae a qui ab veritatis perspiciatis tenetur labore, quasi, officia quisquam pariatur, magni dolorum quas minus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolorem sapiente labore, ratione fuga sunt fugiat optio amet ad libero harum quo mollitia atque autem cumque vel vero delectus commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, debitis odit quam. Animi molestiae impedit esse quibusdam debitis laborum temporibus, libero quod perspiciatis culpa consequatur reiciendis asperiores velit. Quos, voluptatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            <div class="box">
                <header class="box__header">
                    <h3 class="box__heading">Content Box</h3>
                </header>
                <div class="box__content">
                    <progress-bars data="dashboard.progressItems"></progress-bars>
                </div>
            </div>
        </div>
        <div class="large-8 columns">
            <div class="box">
                <header class="box__header">
                    <h3 class="box__heading">Table Data Box</h3>
                </header>
                <div class="box__content">
                    <user-table data="dashboard.users"></user-table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <div class="box">
                <header class="box__header">
                    <h3 class="box__heading">Form Box</h3>
                </header>
                <div class="box__content">
                    <contact-form></contact-form>
                </div>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="box">
                <header class="box__header">
                    <h3 class="box__heading">Box Content</h3>
                </header>
                <div class="box__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo id unde est aliquam quis impedit! Est, officiis, nemo molestias non inventore laborum quo voluptatibus nam animi nostrum temporibus ab culpa.</p>
                </div>
            </div>
        </div>
    </div>

</section>