.site-nav {
    background-color: darken(#60d3e5, 7%);
    height: $top-nav-height;
    line-height: $top-nav-height;
    padding: 0 0 0 ($sidebar-width + 30px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    &__list {
        padding: 0;
        margin: 0;
        height: $top-nav-height;
        line-height: $top-nav-height;
        float: right;
    }

    &__list-item {
        display: block;
        float: left;
        height: $top-nav-height;
        line-height: $top-nav-height;
        margin-left: 30px;
        color: #FFF;

        a {
            display: inline-block;
            line-height: 1;
            font-size: .85em;
            color: #FFF;
            font-weight: bold;

            &.profile-link {
                display: block;
                height: $top-nav-height;
                line-height: $top-nav-height;
                padding: 0 30px;
                background-color: darken($primary-color, 13%);
            }
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
            margin-left: 15px;
        }
    }

    i {
        font-size: 1.6em;
        vertical-align: middle;
        display: inline-block;
    }
}

.notifications {

    &__icon-container {
        position: relative;
        cursor: pointer;
        display: inline;
    }

    &__icon-unread-count {
        color: #FFF;
        display: inline-block;
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: $danger-color;
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
    }

    &__list-container { display: none; }
}