.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: $sidebar-width;
    background-color: $sidebar-bg-color;
    z-index: 3;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);

    &__header {
        height: $top-nav-height;
        background-color: #60d3e5;
        border-bottom: 1px solid #469DAB;

        a {
            display: block;
            line-height: $top-nav-height;
            text-align: center;
        }

        img {
            display: inline-block;
            max-width: 80px;
        }
    }

    &__content {}

    &__body {}

    &__nav {
        padding: 0;
        margin: 0;
        &-item {
            position: relative;
            border-bottom: 1px solid #1a2f4c;

            span {
                margin-right: 10px;
                color: #c6daf3;
                font-size: 1.3em;
            }

            a {
                display: block;
                padding: 15px 30px;
                color: #526c8d;
                text-transform: uppercase;
                font-size: .85em;
                font-family: $lato;
                font-weight: bold;
            }

            &::before {
                content: '';
                @include transition(width 0.3s ease);
                display: block;
                width: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: #60d3e5;
            }

            &:hover { background-color: darken(#1B3452, 2.5%); }

            &.active {
                background-color: #1B3452;
                &::before {
                    width: 5px;
                }
                a { color: #FFF; }
            }
        }
    }
}