.box {
    border-radius: 3px;
    background-color: #172B44;

    &--salmon {
        background-color: salmon;
        color: #FFF;
        box-shadow: 0 3px 0 darken(salmon, 7%);
    }
    &--red {
        background-color: #D03535;
        color: #FFF;
        box-shadow: 0 3px 0 darken(#D03535, 7%);
    }
    &--green {
        background-color: #78B978;
        color: #FFF;
        box-shadow: 0 3px 0 darken(#78B978, 7%);
    }
    &--blue {
        background-color: #5E85BF;
        color: #FFF;
        box-shadow: 0 3px 0 darken(#5E85BF, 7%);
    }

    &__sub-heading {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    &__value {
        font-size: 2rem;
        margin: 0;
        line-height: 1;
        display: block;
        text-align: right;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        margin: -15px -15px 0 -15px;
    }

    &__content,
    &__header { padding: 15px; }

    &__header {
        // border-bottom: 1px solid #e3e3e3;
    }

    &__heading {
        text-transform: uppercase;
        font-size: 1.1em;
        margin: 0;
        color: $primary-color;
        word-spacing: 3px;
    }
}