.button {
    display: inline-block;
    border: none;
    background: #41cbe0;
    outline: 0;
    border-radius: 3px;
    color: #FFF;
    height: 50px;
    padding: 0 30px;
    text-align: center;

    &--primary {
        background-color: #41cbe0;

        &:hover { background-color: darken(#41cbe0, 10%); }
    }

    &--full {
        display: block;
        width: 100%;
    }

    &--small {
        height: 30px;
        line-height: 30px;
    }

    &--success {
        background-color: $success-color;
        &:hover { background-color: darken($success-color, 8%); }
    }
    &--danger  {
        background-color: $danger-color;
        &:hover { background-color: darken($danger-color, 8%); }
    }
    &__warning {
        background-color: $warning-color;
        &:hover { background-color: darken($warning-color, 8%); }
    }
    &--neutral {
        background-color: $neutral-color;
        &:hover { background-color: darken($neutral-color, 8%); }
    }
}