.image-grid {

    &__item {
        border: 3px solid transparent;
        @include transition(opacity .2s ease);
        position: relative;
        cursor: pointer;

        &:hover { opacity: 0.7; }

        &.active { border-color: $primary-color; }
    }

    &__active-item {
        width: 100%;
        height: auto;
    }
}

.gallery {

    &__item {
        @include transition(opacity .2s ease);
        position: relative;
        cursor: pointer;
        &:hover { opacity: 0.7; }
    }
}