.ngdialog {

    .ngdialog-overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    &.ngdialog-theme-default {

        padding-bottom: 40px;
        padding-top: 40px;

        .ngdialog-content {
            -webkit-animation: ngdialog-flyin .5s;
            animation: ngdialog-flyin .5s;
            background: #2D425D;
            border-radius: 5px;
            color: #FFF;
            font-family: 'Helvetica',sans-serif;
            font-size: 1.1em;
            line-height: 1.5em;
            margin: 0 auto;
            max-width: 100%;
            padding: 1em;
            position: relative;
            width: 70%;
        }
    }
}