.progress-bars {

    margin: 0;
    padding: 0;

    &__heading {
        font-weight: bold;
        font-size: .8em;
        margin: 0 0 5px 0;
        font-style: italic;
    }

    &__item { margin-bottom: 15px; }

    &__container {
        height: 15px;
        width: 100%;
        background-color: #0D1825;
        border-radius: 100px;
        position: relative;
        overflow: hidden;
    }

    &__value {
        @include transition(width .2s ease);
        display: block;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $neutral-color;

        &.success { background-color: $success-color; }
        &.warning { background-color: $warning-color; }
        &.danger  { background-color: $danger-color;  }
    }
}