<form class="form form__contact">
    <div class="form__group">
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div class="form__group">
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>
    <div class="form__group">
        <label for="name">Message</label>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="form__group">
        <button type="submit" class="button button--primary">Submit</button>
    </div>
</form>