<div class="gallery-modal image-grid">
    <div class="row">
        <div class="large-8 columns">
            <img class="image-grid__active-item" ng-src="{{ ngDialogData.active }}" alt="">
        </div>
        <div class="large-4 columns">
            <ul class="large-block-grid-3">
                <li ng-repeat="img in ngDialogData.all track by $index">
                    <div class="image-grid__item" ng-class="{ 'active': ngDialogData.active === img }">
                        <img ng-click="changeActiveImage(img)" ng-src="{{ img }}" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>