<ul class="large-block-grid-4 gallery">
    <li ng-repeat="img in data track by $index">
        <div class="gallery__item">
            <img ng-click="openGalleryModal(img)" ng-src="{{ img }}" alt="A picture">
        </div>
    </li>
</ul>