<!-- === Navigation === -->
<ul class="site-nav__list">
    <li class="site-nav__list-item">
        <div class="notifications">
            <div class="notifications__icon-container">
                <i class="notifications__icon ion ion-ios-bell"></i>
                <span class="notifications__icon-unread-count">10</span>
            </div>
            <div class="notifications__list-container">
                <ul class="notifications__list">
                    <li class="notifications__list-item"></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="site-nav__list-item">
        <a ui-sref="admin.profile"><i class="ion-settings"></i></a>
    </li>
    <li class="site-nav__list-item">
        <a ui-sref="admin.profile" class="profile-link">
            <span class="site-nav__profile-name">Nicholas Hebert</span>
            <img class="site-nav__profile-image circle" src="images/me.jpg" alt="me">
        </a>
    </li>
</ul>