<ul class="progress-bars">
    <li class="progress-bars__item" ng-repeat="progress in data">
        <h4 class="progress-bars__heading">{{ progress.title }}</h4>
        <div class="progress-bars__container">
            <span class="progress-bars__value {{progress.value | progressCheck }}"
                ng-style="{ 'width': progress.value + '%' }"></span>
        </div>
    </li>
</ul>