<header class="sidebar__header">
    <a ui-sref="admin.dashboard" class="sidebar__logo">
        <img src="images/logo.png" alt="">
    </a>
</header>

<div class="sidebar__body">
    <ul class="sidebar__nav">
        <li class="sidebar__nav-item" ui-sref-active="active">
            <a ui-sref="admin.dashboard"><span class="ion-stats-bars"></span> Dashboard</a>
        </li>
        <li class="sidebar__nav-item" ui-sref-active="active">
            <a ui-sref="admin.galleries"><span class="ion-images"></span> Gallery</a>
        </li>
        <li class="sidebar__nav-item" ui-sref-active="active">
            <a ui-sref="admin.uploads"><span class="ion-upload"></span> Uploads</a>
        </li>
        <li class="sidebar__nav-item" ui-sref-active="active">
            <a ui-sref="admin.stats"><span class="ion-pie-graph"></span> Stats</a>
        </li>
        <li class="sidebar__nav-item" ui-sref-active="active">
            <a ui-sref="admin.lounge"><span class="ion-coffee"></span> Lounge</a>
        </li>
    </ul>
</div>