<div class="table__container">
    <p ng-show="!data.length">No Users to display.</p>
    <table class="table" ng-show="data.length > 0">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in data track by $index">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td><button class="button button--neutral button--small button--full">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>